.editor-blink {
    animation: blinkAnim 0.3s ease infinite;
}

@keyframes blinkAnim {
    0% { border: 1px dotted rgba(255, 255, 0, 0.3); }
    100% { border: 1px dotted rgba(128, 128, 128, 0.452); }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.editor-hover {
    outline: 1px dashed #4caf50;
    outline-offset: 2px;
    box-shadow: 0 0 4px 1px #4caf5066;
    transition: all 0.15s ease-in-out;
}

.hover-tools {
    position: absolute;
    top: -8px;        /* ⬅️ выше */
    right: -8px;      /* ⬅️ за пределы компонента */
    display: none;
    z-index: 10;
}

.editor-hover .hover-tools {
    display: block;
}

.hover-delete {
    cursor: pointer;
    background: #111;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 13px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 3px #0008;
}
.hover-delete:hover {
    background: #efdd85;
}

.editor-selected {
  outline: 1px dotted #2196f377;
  box-shadow: inset 0 0 4px 2px #2196f355;
  z-index: 999;
  transition: all 0.2s ease;
  animation: glowPulseInset 1.6s infinite ease-in-out;
}

@keyframes glowPulseInset {
  0% {
    box-shadow: inset 0 0 4px 2px #2196f355;
    outline-color: #2196f377;
  }
  50% {
    box-shadow: inset 0 0 6px 3px #2196f3a8;
    outline-color: #2196f3aa;
  }
  100% {
    box-shadow: inset 0 0 4px 2px #2196f355;
    outline-color: #2196f377;
  }
}

.bubble-menu {
  z-index: 9999 !important;
  position: absolute;
}

.no-p-margin p {
  margin: 0;
  padding: 0;
}
.card-text {
  margin-top: 20;
  margin-left: 15;
  margin-right: 15;
}
.buttontable:hover {
    opacity: 0.5;
}
.json-viewer-copy-icon {
  display: none !important;
}

.rounded {
  background: rgb(84, 84, 84) !important;
}


.ruler-container {
  top: 50px;  
  position: fixed;
  width: 100%;
  height: calc(100% - 50px);
  pointer-events: none;
}

/* ручки ячеек grid layout */
.react-resizable-handle {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='26' height='26'><path fill='%232196f3' d='M25 18h-2v2h2v2h-2v2h2v-6zm-4 4h-2v2h2v-2z'/></svg>");
  z-index: 999999;
  background-size: 240% 240%;
  transition: background 0.2s ease;
  color: red;
  border-radius: 5px;
}
.react-resizable-handle::after {
  mask: url('/path/to/your-icon.svg') no-repeat center;
  -webkit-mask: url('/path/to/your-icon.svg') no-repeat center;
  mask-size: contain;
  -webkit-mask-size: contain;
}
.react-resizable-handle:hover {
  background-color: rgba(33, 149, 243, 0.3);
  width: 22;
  height: 22;
}


/* meta block */
.headerEditor {
  border: 1px dashed #499aeb3c;
}

.footerEditor {}

.headerEditor:hover {
  background: #419ffd0b;
}

.footerEditor:hover {
  background: #b7d23d0b;
}


/* выделение tip-tap */
.ProseMirror ::selection {
  background: rgba(255, 0, 0, 0.35);
}

/* иерархическая диаграмма */
.p-organizationchart .p-organizationchart-line-down {
  background: #e5e7eb;
}
.p-organizationchart .p-organizationchart-line-left {
  border-right: 1px solid #e5e7eb;
  border-color: #e5e7eb;
}
.p-organizationchart .p-organizationchart-line-top {
  border-top: 1px solid #e5e7eb;
  border-color: #e5e7eb;
}

/* разделитель */
.p-splitter-gutter {
  background-color: transparent;
  position: relative;
}
.p-splitter-gutter::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  transition: opacity 0.2s;
}
/* Горизонтальный (разделение слева-направо) */
.p-splitter-horizontal .p-splitter-gutter::before {
  top: 0;
  bottom: 0;
  background-image: repeating-linear-gradient(to bottom,
      #bdbbbe,
      #bdbbbe 1px,
      transparent 1px,
      transparent 4px);
  width: 1px;
  cursor: col-resize;
}
/* Вертикальный (разделение сверху-вниз) */
.p-splitter-vertical .p-splitter-gutter::before {
  left: 0;
  right: 0;
  background-image: repeating-linear-gradient(to right,
      #bdbbbe,
      #bdbbbe 1px,
      transparent 1px,
      transparent 4px);
  height: 1px;
  cursor: row-resize;
}
/* Hover эффект */
.p-splitter-gutter:hover::before {
  opacity: 1;
}