.editor-blink {
    animation: blinkAnim 0.3s ease infinite;
}

@keyframes blinkAnim {
    0% { border: 1px dotted rgba(255, 255, 0, 0.3); }
    100% { border: 1px dotted rgba(128, 128, 128, 0.452); }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.editor-hover {
    outline: 1px dashed #4caf50;
    outline-offset: 2px;
    box-shadow: 0 0 4px 1px #4caf5066;
    transition: all 0.15s ease-in-out;
}

.hover-tools {
    position: absolute;
    top: -8px;        /* ⬅️ выше */
    right: -8px;      /* ⬅️ за пределы компонента */
    display: none;
    z-index: 10;
}

.editor-hover .hover-tools {
    display: block;
}

.hover-delete {
    cursor: pointer;
    background: #111;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 13px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 3px #0008;
}
.hover-delete:hover {
    background: #efdd85;
}

.editor-selected {
  outline: 1px dotted #2196f377;
  box-shadow: 0 0 5px 2px #2196f355;
  z-index: 9;
  transition: all 0.2s ease;
  animation: glowPulse 1.6s infinite ease-in-out;
}
@keyframes glowPulse {
  0% {
    box-shadow: 0 0 5px 2px #2196f355;
    outline-color: #2196f377;
  }
  50% {
    box-shadow: 0 0 8px 3px #2196f3a8;
    outline-color: #2196f3aa;
  }
  100% {
    box-shadow: 0 0 5px 2px #2196f355;
    outline-color: #2196f377;
  }
}

.bubble-menu {
  z-index: 9999 !important;
  position: absolute;
}

.no-p-margin p {
  margin: 0;
  padding: 0;
}
.card-text {
  margin-top: 20;
  margin-left: 15;
  margin-right: 15;
}
.buttontable:hover {
    opacity: 0.5;
}
.json-viewer-copy-icon {
  display: none !important;
}