::-webkit-scrollbar-track {
    background-color:#2a2a2b85
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color:#dedfdf;
    border: #333 1px solid;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color:#adadad;
}
::-webkit-scrollbar {
    width: 10px;
}

.react-grid-layout {
    transition: transform 0s, width 0s, height 0s !important;
}