::-webkit-scrollbar-track {
    background-color:#2a2a2b85
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color:#dedfdf;
    border: #333 1px solid;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color:#adadad;
}
::-webkit-scrollbar {
    width: 10px;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.root {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
}

/* бег. строка */
.marquee-container {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
  }
.marquee-text {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 4s linear infinite;
}

@keyframes marquee {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
}



/* custom select */
.dropdown {
    position: absolute;
    border-radius: 3px;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 0;
    margin-top: 5px;
    list-style: none;
    border-top: none;
    overflow-y: auto;
    z-index: 10;
}
.dropdown li {
    padding: 12px;
    color: #333;
    cursor: pointer;
}
.dropdown li:hover {
    background-color: #3498db;
    color: white;
}

/* Для открытого состояния */
.custom-select.open .dropdown {
    display: block;
}